@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css);

:root {
    --soft-red: hsl(10, 79%, 65%);
    --dyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    --fonte-principal: 'DM Sans', sans-serif;
    --font-family1: 'Nunito Sans', sans-serif;
    --font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cream);
    height: 395px;
    display: grid;
    gap: 10px;
    justify-items: center;
    align-content: center;
}

.my_balance {
    background-color: var(--soft-red);
    width: 36%;
    height: 64px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.title {
    font-size: 8px;
    margin: 7px 0;
    font-weight: 100;
}

.result {
    font-weight: 500;
    margin-bottom: 5px;
}

.balance {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: grid;
    justify-items: start;
    margin: 0 20px;

}

svg {
    width: 38px;
    margin: 0 20px;
}

.spending-weekly {
    background-color: white;
    width: 36%;
    height: 300px;
    border-radius: 10px;

}

.text-weekly {
    font-size: 18px;
    font-weight: 700;
    font-Family: var(--fonte-principal);
    margin: 20px 10px 0 24px;
}

hr {
    width: 90%;
    border-color: var(--cream);
    opacity: 0.3;
}

.title-spending {
    font-family: var(--fonte-principal);
    font-size: 10px;
    opacity: 0.5;
}

.baseboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.this-month {
    margin: 20px 0 0 25px;
}

.spending-totals {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    margin-top: 5px;

}

.last-month {
    display: grid;
    justify-items: end;
    margin-right: 25px;
}

.last-value {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 5px;

}

.last-totals {
    font-family: var(--fonte-principal);
    font-size: 10px;
    opacity: 0.5;
}