@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css);
:root {
    --soft-red: hsl(10, 79%, 65%);
    --dyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    --fonte-principal: 'DM Sans', sans-serif;
    --font-family1: 'Nunito Sans', sans-serif;
    --font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--cream); 
    height: 395px;
    display: grid;
    gap: 10px;
    justify-items: center;
    align-content: center;
}

.my_balance {
    background-color: var(--soft-red);
    width: 36%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    font-size: 8px;
    margin: 5px 0;
    font-weight: 100;
}
.resultado{
    font-weight: 500;
}

.balance{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: grid;
    justify-items: start;
    margin: 0 20px;
    
}

svg{
    width: 38px;
    margin: 0 20px;
}

.spending{
    background-color:white;
    width:36%;
    height: 200px;
    border-radius: 10px;

}
 